<mat-card>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>User</mat-label>
      <input matInput placeholder="your username" /> </mat-form-field
    ><br />

    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input matInput placeholder="your password" />
    </mat-form-field>

    <button class="butLogin" mat-button mat-flat-button>
      Login
    </button>
    <!-- <mat-form-field class="example-full-width">
          <mat-label>Leave a comment</mat-label>
          <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
        </mat-form-field> -->
  </form>
</mat-card>
